In [3]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
import pandas as pd

In [13]:
df = pd.read_csv("/home/shivam/LSTM_trial.csv", header = None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,871,1002,946,1016,935,1049,1070,1257,1188,1362,1442,1341,1635,1940,2132,2272